@charset "utf-8";
/* CSS Document */		
body{
	background:url(../images/back_login.gif);
	font-family:Helvetica, Arial, sans-serif;
	size:12px;
	margin:0;
	padding:0;
}

#main{
	background:/*#CECECE;*/ #FFFFFF;
	width:350px;
	margin:100px auto;
	/*padding-top:14px;
	padding-left:12px;
	padding-right:12px;
	padding-bottom:14px;*/
	height:400px;
	border-radius:15px;
	border: 2px solid #d2d2d2;
	
	-webkit-box-shadow: 8px -2px 242px 25px rgba(1,84,122,0.53);
	-moz-box-shadow: 8px -2px 242px 25px rgba(1,84,122,0.53);
	box-shadow: 8px -2px 242px 25px rgba(1,84,122,0.53);
}

#login_back{
		/*width:490px; 
		height:410px;*/
	}

#logo{
	margin-top: -190px;
	margin-left: 50px;
}

.login {
	text-transform: uppercase;
	font-family: Georgia;
	font-weight: bold;
	letter-spacing:5px;
	color: #d90c0c;
	font-size: 30px;
	margin-top: 4px;	
	margin-left: 125px;
	text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}


#msg{
	/*widows:450px;*/ 
	height: 20px;
	padding: 90px 0 115px 0;
	text-align:center;
	color:#000;
}
	
#login_form{
		width:350px; 
		height:200px;
}

.clear{ 
	clear: both; 
	margin:0;
	padding:0;
	height:0;
	}
	
.fields{
	padding:2px;
	border:1px #CCC solid;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px;
	background:#FFF;
	color:#00F;
}
.button	{ 
	background: repeat-x top center; 
	border: 1px solid #999;
	-moz-border-radius: 5px; 
	padding: 7px; color: #141414; 
	font-weight: bold;
	-webkit-border-radius: 5px; 
	font-size: 13px;  
	width: 70px; 
	margin: -15px 0 0 180px;
}
.button:hover{ 
	background: #0000CC; 
	color: #D6D6D6; 
	width: 70px;
	cursor:pointer;
}

#space_div{
		height:23px;
	}
form{ 
	width: 490px; 
	margin:auto; 
}

legend{ 
	display: none; 
}

fieldset{ 
	border: 0; 
}

label{ 
	margin: 0 0 0 20px;
	padding: 9px 0 0 0; 
	font-size: 16px; 
	font-weight: bold;
}

input[type="text"], input[type="password"], textarea, select
{
  font-size: 16px;
  line-height:140%;
  color : #000; 
  padding : 3px; 
  border : 1px outset #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
}

input:focus,textarea:focus,select:focus
{
  color : #009;
  border : 1px solid #4169E1;
  background-color : #F0FFF0;
  font-weight:bold;
  width: 200px;
}		  

.error{
 color:#ca0013;
 font-size: 12px;
 margin-left: 128px;
}
